.on {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #007BFF;
  border-radius: 50px;
  border: none;
  transition: background-color 0.3s ease;
}

.off {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff2600;
  border-radius: 50px;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.card-gab {
  width: 25% !important;
}

.blue-col {
  color: blue !important;
}

.red-col {
  color: red !important;
}

.fa-sharp {
  font-size: 150% !important;
}
